@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

html {
    height: 100%;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  margin: 0 auto;
  max-width: 38rem;
  vertical-align: middle;
  text-align: center

  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

h1,
p,
a {
  text-align: center
  color: #034b91;
  background-image: -webkit-linear-gradient(92deg,#034b91,#036f91);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a:hover {
  text-align: center
  color: #96cafd;
  background-image: -webkit-linear-gradient(92deg,#96cafd,#96b0fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.title {
  font-size: 6rem;
}

.content {
  font-size: 2rem;
}